* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.container-tabs{
    margin-top: 2%;
}

.container-gallery {
    margin-top: 2%
}

.container-title-gallery {
    margin-top: 2%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    max-width: 34%;
    padding: 0 10px;
}

.column img {
    margin-top: 15px;
    vertical-align: middle;
    width: 100%;
    border: 0px solid black;
    border-radius: 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.image {
    transition: filter 0.3s ease;
}

.image:hover {
    filter: brightness(50%);
}

.modal-image-gallery {
    border: 0px solid black;
}

.container-modal-gallery {
    border: 0px solid black;
}

.card-img-top {
    max-width: 100%;
    max-height: 100%;

    width: auto;
    height: auto;
}
.modal-dialog-centered {
    max-width: 100%;
    width: 50%;

    margin: auto;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}