/* This stylesheet is for the 'Login' page only. */

.card-login {
  border: 0px solid black;
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.card-header-login {
  border: 0px solid black;
  background-color: #FFFFFF00;
  font-size: 40px;
}
