#image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 50px;
    padding: 0;
}

#image-div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h4 {
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    text-decoration: none;
}

.h4 {
    text-decoration: underline;
    color: #1c5d99;
}

#caption {
    padding: 5px;
    margin-left: 30px; 
    margin-bottom: 0px;
}

.timestamp {
    float: right;
}

.comment-user-span a {
    font-weight: bold;
    color: black;
}

li.list-group-item {
    margin-left: 60px;
    margin-right: 60px;
}

#form-div {
    margin: 20px;
}