{% extends 'base.html' %}

{% block variable_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/gallery.css') }}">
{% endblock %}

<!-- Sets title for gallery page -->
{% block title %}

{% endblock %}

<!-- Content for gallery page -->
{% block main %}
<div class="container container-title-gallery mb-3">
    <p class="display-6 fw-bold"> Gallery for '{{ tag.tag }}' </p>
</div>

<div class="container container-gallery mb-3">
    <div class="row gx-3 mb-4">

        <div class="col column">
            {% for image in images_firstColumn_tag %}
            <a href="{{ url_for('picTalk.view_post', submission_id=image.id) }}">
                <img src="data:image/png;base64, {{image.data}}" class="image" style="width:100%">
            </a>
            {% endfor %}
        </div>

        <div class="col column">
            {% for image in images_secondColumn_tag %}
            <a href="{{ url_for('picTalk.view_post', submission_id=image.id) }}">
                <img src="data:image/png;base64, {{image.data}}" class="image" style="width:100%">
            </a>
            {% endfor %}
        </div>

        <div class="col column">
            {% for image in images_thirdColumn_tag %}
            <a href="{{ url_for('picTalk.view_post', submission_id=image.id) }}">
                <img src="data:image/png;base64, {{image.data}}" class="image" style="width:100%">
            </a>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}