{% extends 'base.html' %}

{% block variable_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/gallery.css') }}">
{% endblock %}

<!-- Sets title for gallery page -->
{% block title %}
Gallery | PicTalk
{% endblock %}

<!-- Content for gallery page -->
{% block main %}
<div class="container container-title-gallery mb-3">
  <h1 class="display-5 fw-bold">Gallery</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias ab atque dolore voluptatem saepe quae labore
    praesentium vel quidem, ipsum accusamus odio, maiores earum possimus, perspiciatis quia pariatur ducimus. Eveniet.
  </p>
</div>

<div class="container container-gallery mb-3">

  <div class="row gx-3 mb-4">

    <div class="col column">
      <img src="../static/images/eugene-golovesov-iQUKzF-_vUk-unsplash.jpg" class="image" style="width:100%">
      <img src="../static/images/lorisha-buhler-ferrara-F-67aIbPOAc-unsplash.jpg" class="image" style="width:100%">
      <img src="../static/images/martin-katler-S-Lm2lhayi0-unsplash.jpg" class="image" style="width:100%">
    </div>

    <div class="col column">
      <img src="../static/images/philip-oroni-D8K6LtI0gWs-unsplash.jpg" class="image" style="width:100%">
      <img src="../static/images/tron-le-aAn-_iTks4E-unsplash.jpg" class="image" style="width:100%">
      <img src="../static/images/philip-oroni-D8K6LtI0gWs-unsplash.jpg" class="image" style="width:100%">
    </div>

    <div class="col column">
      <img src="../static/images/martin-katler-S-Lm2lhayi0-unsplash.jpg" class="image" style="width:100%">
      <img src="../static/images/lorisha-buhler-ferrara-F-67aIbPOAc-unsplash.jpg" class="image" style="width:100%">
      <img src="../static/images/eugene-golovesov-iQUKzF-_vUk-unsplash.jpg" class="image" style="width:100%">
    </div>

  </div>
</div>

{% endblock %}