{% extends 'base.html' %}

{% block variable_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/gallery.css') }}">
{% endblock %}

<!-- Sets title for gallery page -->
{% block title %}
Gallery | PicTalk
{% endblock %}

<!-- Content for gallery page -->
{% block main %}
<div class="container container-title-gallery mb-3">
  <h1 class="display-5 fw-bold" style="text-align: center;">Gallery</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias ab atque dolore voluptatem saepe quae labore
    praesentium vel quidem, ipsum accusamus odio, maiores earum possimus, perspiciatis quia pariatur ducimus. Eveniet.
  </p>
</div>

<div class="container text-center container-gallery mb-3">

  <div class="row align-items-center gx-5 mb-3">

    <div class="col">
      <div class="card card-image-gallery">
        <img src="../static/images/lorisha-buhler-ferrara-F-67aIbPOAc-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-image-gallery">
        <img src="../static/images/eugene-golovesov-iQUKzF-_vUk-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-image-gallery">
        <img src="../static/images/philip-oroni-D8K6LtI0gWs-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row align-items-end gx-5 mb-4">

    <div class="col">
      <div class="card card-image-gallery">
        <img src="../static/images/eugene-golovesov-iQUKzF-_vUk-unsplash.jpg" class="card-img-top" alt="image1">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-image-gallery">
        <img src="../static/images/lorisha-buhler-ferrara-F-67aIbPOAc-unsplash.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-image-gallery">
        <img src="../static/images/martin-katler-S-Lm2lhayi0-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}