{% extends 'base.html' %}

{% block variable_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home.css') }}">
{% endblock %}

<!-- Sets title for gallery page -->
{% block title %}
PicTalk
{% endblock %}

{% block main %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide" src="../static/images/Uluru.jpg" alt="First slide - Uluru"> 
      <div class="container">
        <div class="carousel-caption">
          <h1 class="title-slide-1 display-3 rotate-text">PicTalk</h1>
          <p id="slogan">Exchange, Engage, Elevate</p>
          <p id="caption1">Your go-to place for all things related to photography and visual storytelling.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="second-slide" src="../static/images/2ndSlide.jpg" alt="Second slide - Mountain"> 
      <div class="container">
        <div class="carousel-caption">
          <h1>Create An Account Now!</h1>
          <p><a class="btn btn-lg btn-professional" href="{{ url_for('picTalk.signup') }}" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="third-slide" src="../static/images/3rdSlide.jpg" alt="Third slide - Coast"> 
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>Browse Our Gallery</h1>
          <h4>Looking for inspiration?</h4>
          <p><a class="btn btn-lg btn-professional" href="{{ url_for('picTalk.gallery') }}" role="button">Click Here!</a></p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-1 outerSection"></div>
    <div class="col-10 middleSection"></div>
    <div class="col-1 outerSection"></div>

  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <img class="rounded-circle" src="../static/images/remote-team-collaberate.jpg" alt="People collaberating"
        width="140" height="140">
      <h2>Your Visuals for Feedback</h2>
      <p>Share your photographs or artistic creations with our community to receive thoughtful and detailed feedback,
        guidance, and inspiration for your work. </p>
    </div>

    <div class="col-md-4">
      <img class="rounded-circle" src="../static/images/artGallery.jpg" alt="Art gallery" width="140" height="140">
      <h2>Learn from Inspiring Examples</h2>
      <p>Receive constructive feedback on your visuals, highlighting both their strengths and areas for improvement. Our
        goal is to help you grow and refine your artistic vision. </p>
    </div>

    <div class="col-md-4">
      <img class="rounded-circle" src="../static/images/feedbackjpg.jpg" alt="Person connected to others with thoughts"
        width="140" height="140">
      <h2>Get Personalized Advice from Experts</h2>
      <p>Our community includes experienced artists who can provide you with tailored advice and suggestions to enhance
        your skills and creativity.</p>
    </div>

  </div>
</div>

<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading"> Submit Your Art. <span class="text-muted"> Receive Feedback From Our Hearts. </span>
    </h2>
    <p class="bottom-text"> Join PicTalk today, a vibrant community where your creativity shines. Share your visual stories, whether they're stunning landscapes, captivating portraits, or unique perspectives. 
      Receive thoughtful feedback from fellow casual photographers and seasoned experts, helping you refine your craft. 
      Your art deserves to be seen and celebrated. Submit your photos get valuable advice, and connect with like-minded individuals who share your passion for visual storytelling. 
      Join PicTalk today and let your artistry unfold!</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="../static/images/vertLandscape.jpg"
      alt="Vertical Landscape of Faroe Islands" style="height: 600px; padding-left: 1cm;">
  </div>
</div>

{% endblock %}