{% extends 'base.html' %}

<!-- Imports login.css -->
{% block variable_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}">
{% endblock %}

<!-- Sets title for login page -->
{% block title %}
Login | PicTalk
{% endblock %}

<!-- Content for login page -->
{% block main %}
<div class="container">
    <!-- Login Card-->
    <div class="card card-login">

        <!-- Login Card Header -->
        <div class="card-header card-header-login">
            Login
        </div>

        <!-- Login Card Body -->
        <div class="card-body">

            <form action="{{ url_for('picTalk.login') }}" method="POST">
                <div class="form-group">
                    <label for="login-username">Username:</label>
                    <input type="text" class="form-control" id="login-username" name="login-username"
                        placeholder="Enter username" required>
                </div>

                <div class="form-group">
                    <label for="login-password">Password:</label>
                    <input type="password" class="form-control" id="login-password" name="login-password"
                        placeholder="Enter password" required>
                </div>

                <p class="forgotLink"><a href="forgotDetails.html"><u>Forgot password</u></a></p>

                {% if error is not none %}
                <p class="error" style="color: red;"> {{ error }}</p>
                {% endif %}

                <button type="submit" class="btn">Login</button>
            </form>

            <br>

            <!-- Sign Up Page Link -->
            <p>Don't have an account?
                <a href="{{ url_for('picTalk.signup')}}">Create an account.</a>
            </p>

        </div>
    </div>
</div>
{% endblock %}