{% extends 'base.html' %}

<!-- Imports login.css -->
{% block variable_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/profile.css') }}">
{% endblock %}

<!-- Sets title for login page -->
{% block title %}
{{ user.username }}
{% endblock %}

{% block main %}
<div class="container container-profile">
    <div class="container container-profile-header">
        <div class="row">

            <div class="col">
                <p class="display-6 fw-bold USERNAME"> {{ user.username }} </p>
                {% if user == current_user %}
                <p class="editProfLink"><a href="{{ url_for('picTalk.edit_profile') }}">Edit your profile</a></p>
                {% endif %}
            </div>

            <div class="col">
                <div class="row">
                    <div class="col profile-details">
                        {{ submission_count }}
                        <br>
                        Submissions
                    </div>
                    <div class="col profile-details">
                        {{ follower_count | format_profileNumbers }}
                        <br>
                        Followers
                    </div>
                    <div class="col profile-details">
                        {{ followed_count | format_profileNumbers }}
                        <br>
                        Following
                    </div>
                </div>
            </div>

        </div>
        {% if (current_user.is_authenticated) and (current_user != user) %}
            {% if check_following %}
                <form action="{{ url_for('picTalk.unfollow', username_id = user.username_id) }}" method="POST">
                    <input type="hidden" name="follower_id" value="{{ current_user.username_id }}">
                    <button type="submit" class="btn btn-lg btn-block">Unfollow</button>
                </form>
            {% else %}
                <form action="{{ url_for('picTalk.follow', username_id = user.username_id) }}" method="POST">
                    <input type="hidden" name="followed_id" value="{{ current_user.username_id }}">
                    <button type="submit" class="btn btn-lg btn-block">Follow</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div class="container container-about-me ">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">About Me</div>
                    <div class="card-body">
                        {% if user.about_me %}
                        <p>{{ user.about_me }}</p>
                        {% else %}
                        <p>I love PicTalk!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container container-profile-body">
        <div class="row gx-3 mb-4">

            <div class="col column">
                {% for image in images_firstColumn %}
                    <a href="{{ url_for('picTalk.view_post', submission_id=image.id) }}">
                        <img src="data:image/png;base64, {{image.data}}" class="image" style="width:100%">
                    </a>
                {% endfor %}
            </div>

            <div class="col column">
                {% for image in images_secondColumn %}
                    <a href="{{ url_for('picTalk.view_post', submission_id=image.id) }}">
                        <img src="data:image/png;base64, {{image.data}}" class="image" style="width:100%">
                    </a>
                {% endfor %}
            </div>

            <div class="col column">
                {% for image in images_thirdColumn %}
                    <a href="{{ url_for('picTalk.view_post', submission_id=image.id) }}">
                        <img src="data:image/png;base64, {{image.data}}" class="image" style="width:100%">
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}