{% extends 'base.html' %}

<!-- Imports login.css -->
{% block variable_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/user_page.css') }}">
{% endblock %}

<!-- Sets title for login page -->
{% block title %}
{{ user.username }}
{% endblock %}

{% block main %}
<div class="container container-profile">
    <div class="container container-profile-header">
        <div class="row">

            <div class="col">
                <p class="display-6 fw-bold"> {{ user.username }} </p>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col profile-details">
                        {{ submission_count }}
                        <br>
                        Submissions
                    </div>
                    <div class="col profile-details">
                        {{ user.followers | format_profileNumbers }}
                        <br>
                        Followers
                    </div>
                    <div class="col profile-details">
                        {{ user.following | format_profileNumbers }}
                        <br>
                        Following
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container container-profile-body">
        <div class="row gx-3 mb-4">

            <div class="col column">
                {% for image in images_firstColumn %}
                    <img src="data:image/png;base64, {{image}}" class="image" style="width:100%">
                {% endfor %}
            </div>

            <div class="col column">
                {% for image in images_secondColumn %}
                    <img src="data:image/png;base64, {{image}}" class="image" style="width:100%">
                {% endfor %}
            </div>

            <div class="col column">
                {% for image in images_thirdColumn %}
                    <img src="data:image/png;base64, {{image}}" class="image" style="width:100%">
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}