{% extends 'base.html' %}

<!-- Imports view_post.css -->
{% block variable_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/view_post.css') }}">
{% endblock %}

<!-- Sets title for post viewing page -->
{% block title %}
Post: {{ image.caption }}
{% endblock %}

{% block main %}

<div id="image-div">
    <img src="data:image/png;base64,{{ base64_image }}" alt="showcase image">
</div>

<div id="creator-div" class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h4>
                Created by <a class="h4" href="{{ url_for('picTalk.profile', username=creator.username) }}">{{ creator.username }}</a>
            </h4>
        </div>
        <div id="post-time">
            {{ image.created_at | truncate_time }}
        </div>
    </div>
</div>

<p id="caption">{{ image.caption }}</p>

<div id="tags">
    {% for tag in tags %}
        <span class="tag">
            <a href="{{ url_for('picTalk.gallery_tags', tag=tag.tag) }}">
                <b>{{ tag.tag }}</b>
            </a>
        </span>
    {% endfor %}
</div>

<hr>

<h4>Comments</h4>

<ul id="comment-section" class="list-group list-group-flush">
{% for comment in comments %}
<li class="list-group-item">
    <div>
        <span class="comment-user-span">
            <a href="{{ url_for('picTalk.profile', username=comment.user.username) }}">
                {{ comment.user.username }}:
            </a>
        </span>
        <span class="comment-message">
            {{ comment.comment }}
        </span>
        <span class="timestamp">
            {{ comment.created_at | truncate_time }}
        </span>
    </div>
</li>
{% endfor %}
</ul>

<div id="form-div" class="row justify-content-center">
    <form id="form" method="POST">
        {{ form.hidden_tag() }}
        <div class="row g-2">
            <div class="col-md-8">
                <div id="comment-div">
                    {{ form.comment(id="comment-box", class="form-control") }}
                </div>
            </div>

            <div class="col-md-4">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>
</div>

{% for error in form.comment.errors %}
    <div class="error">{{ error }}</div>
{% endfor %}

{% endblock %}

{% block variable_js %}
<!-- JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Custom JS -->
<script src="{{ url_for('static', filename='javascript/viewPost.js') }}"></script>
{% endblock %}