{% extends 'base.html' %}

<!-- Imports view_post.css -->
{% block variable_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/view_post.css') }}">
{% endblock %}

<!-- Sets title for post viewing page -->
{% block title %}
Post: {{ image.caption }}
{% endblock %}

{% block main %}

<div id="image-div">
    <img src="data:image/png;base64, {{ base64_image }}">
</div>

<h4>
    Created by <a class="h4" href=" {{ url_for('picTalk.profile', username=creator.username) }}">{{ creator.username}}</a>
</h4>

<p id="caption">{{ image.caption }}</p>

<hr>

<h4>Comments</h4>

<ul id="comment-section" class="list-group list-group-flush"></ul>
{% for comment in comments %}
<li class="list-group-item">
    <p>
        <span id="comment-user-span">
            <a href="{{ url_for('picTalk.profile', username=comment.user.username) }}">
                {{ comment.user.username }}
            </a>
        </span>
        : {{ comment.comment }}
        <span id="timestamp">{{ comment.created_at | truncate_comment_time }}</span>
    </p>
</li>
{% endfor %}
</ul>

<div id="form-div" class="row justify-content-center">
    <form id="form" method="POST">
        {{ form.hidden_tag() }}
        <div class="row g-2">
            <div class="col-md-8">
                <div id="comment-div">
                    {{ form.comment(id="comment-box", class="form-control") }}
                </div>
            </div>

            <div class="col-md-4">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>
</div>


{% endblock %}